@model CCSolutionHRM.Models.Employee

@{
    ViewBag.Title = "Employee Detail";
}

<h2>Employee Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Company :
        </dt>
        <dd>
            @Html.DropDownListFor(model => model.CompanyId, new SelectList(ViewBag.CompaniesList, "Value", "Text"), "Select Company")
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt>
            Email :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt>
            Birth Date :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt>
            Gender :
        </dt>

        <dd>
            @Html.DropDownListFor(model => model.GenderId, new SelectList(ViewBag.GenderList, "Value", "Text"), "Select Gender")
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt>
            Nationality :
        </dt>

        <dd>
            @Html.DropDownListFor(model => model.NationalityId, new SelectList(ViewBag.NationalityList, "Value", "Text"), "Select National")
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt>
            Phone Number :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DialingCode1) - @Html.DisplayFor(model => model.PhoneNumber1)
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt>
            Alt Phone Number :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DialingCode2) - @Html.DisplayFor(model => model.PhoneNumber2)
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt>
            Current Address :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentAddress)
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt>
            Permenant Address :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermenantAddress)
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt>
            Status :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delete)
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt>
            Signup Date :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt>
            Creation IP:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationIP)
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt>
            Created By :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationBy)
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt>
            Updation Date :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdationDate)
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt>
            Updation IP :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdationIP)
        </dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
        <dt>
            Updated By : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdationBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
