@model CCSolutionHRM.Models.EmployeeDocument

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeDocument</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Document.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdationIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdationIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdationBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdationBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
