@model IEnumerable<CCSolutionHRM.Models.EmployeeDocument>

@{
    ViewBag.Title = "Employee Documents";
}

<h2>Employee Documents</h2>

<p>
    @Html.ActionLink("Add New Document", "Create")
</p>
<table class="table">
    <tr>
        <th>
            S.No
        </th>
        <th>
            Document
        </th>
        <th>
            Employee
        </th>
        
        <th>
            Document Id
        </th>
        <th>
            Country
        </th>
        <th>
            Issue Date
        </th>
        <th>
            Expiry Date
        </th>        
        <th>
            Status
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>
@{ int rowNo = 0; }
@foreach (var item in Model) {
    <tr>
        <td>
            @(rowNo += 1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Document.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.DocumentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NationalityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Delete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
